<ion-header>
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title>
    Hi, I'm Euna
  </ion-title>
  <p>Joined in 2019</p>
  <ion-avatar>
    <img src="https://i.ibb.co/4JmmM96/20190612.png">
  </ion-avatar>

  <ion-list-header>
      <ion-label>Contact</ion-label>
  </ion-list-header>
  <p>Email: euna@airbnb.org</p>
  <p>Phone: +15101234567</p>

  <ion-list-header>
      <ion-label>About</ion-label>
  </ion-list-header>
  <p>Lives in Cape Town, South Africa</p>
  <p>Number of bookings made: 7</p>
  <p>Number of reviews received: 10</p>

  <ion-list-header>
      <ion-label>Reviews</ion-label>
  </ion-list-header>
  <p><b>visitor321</b> on <i>July 1, 2019</i> : Convenient location.</p>
  <p><b>wanderlust7</b> on <i>June 15, 2019</i> : The maintenance is great!</p>
</ion-content>
